:root {
  --bgColour: white;
  --bgColourNum: 255, 255, 255;
  --maxWidth: 700px;
  --minWidth: 350px;
  --transitionDuration: 750ms;
  --shadowColour: black;
  --textColour: black;
  --borderColour: var(--shadowColour);
}

:root:has(.dark-mode-toggle:checked) {
  --bgColour: black;
  --bgColourNum: 0, 0, 0;
  --maxWidth: 700px;
  --minWidth: 350px;
  --shadowColour: rgb(128, 128, 128);
  --textColour: rgb(220, 220, 220);
  --borderColour: var(--shadowColour);
}

body {
  background-color: var(--bgColour);
  font-family: 'Palatino', serif;
  color: var(--textColour);
  line-height: 1.2;
  overscroll-behavior-y: none;
  margin: 0px 8px 8px 8px;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  z-index: 10;
}

h3 {
  font-size: large;
  font-weight: bold;
}

h4 {
  font-size: medium;
  font-style: italic;
}

p {
  font-size: medium;
  margin-block: 1rem;
}

.bullet-list {
  list-style-type: disc;
  list-style-position: outside;
  margin-top: 1rem;
  margin-bottom: 1rem;

  li {
    margin-top: 5px;
    margin-left: 1rem;
  }
}

header {
  min-width: var(--minWidth);
  height: 80px;
  border-bottom: 2px;
  border-color: var(--borderColour);
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  position: sticky;
  top: 0;
  background-color: rgb(var(--bgColourNum));

  h1 {
    font-variant: small-caps;
    user-select: none;
    min-width: max-content;
    padding-left: 1rem;
  }
}

section {
  max-width: var(--maxWidth);
  margin-block: 1rem;

  > :not(h2) {
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }

  h2 {
    position: sticky;
    top: 80px;
    border-bottom: 1px solid;
    padding-block: 0.5rem;
    padding-left: 1rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(var(--bgColourNum), 0.6);
  }
}

.column {
  max-width: var(--maxWidth);
  margin-inline: auto;
}

#about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 550px) {
  #about {
    grid-template-columns: 1fr 2fr;
  }
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  gap: 1rem;
  list-style: none;
  margin-top: 1rem;
}

.card {
  border-color: var(--borderColour);
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 2px 2px 1px var(--shadowColour);
  background-color: var(--bgColour);
  transition-property: all;
  transition-duration: 250ms;
  color: var(--textColour);

  .card-header {
    display: flex;
    justify-content: space-between;
  }

  > :not(.card-header) {
    overflow: hidden;
    transition-property: max-height, margin-block;
    transition-duration: 250ms;
    max-height: 0px;
    margin-block: 0;
  }
}

.card--expand {
  transition-duration: 750ms;

  > :not(.card-header) {
    transition-duration: 750ms;
    max-height: 100vh;
    margin-block: 1rem;
  }
}

.ikea-theme {
  --bgColour: rgb(255, 216, 0);
  --shadowColour: rgb(128, 128, 128);
  --textColour: black;
}

.nordnet-theme {
  --bgColour: black;
  --shadowColour: rgb(128, 128, 128);
  --textColour: white;
}

.evry-theme {
  --bgColour: rgb(24, 57, 84);
  --shadowColour: rgb(128, 128, 128);
  --textColour: white;
}

.chs-theme {
  --bgColour: rgb(132, 54, 144);
  --shadowColour: rgb(128, 128, 128);
  --textColour: white;
}

.tech-grid {
  font-family: monospace;
  font-size: small;
  margin: 1rem;
  padding: 0;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 6ch);
  --x: 1;

  li {
    background-color: var(--colour, black);
    color: white;
    display: grid;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    grid-column: span var(--x)/auto;
    aspect-ratio: 2.5;
    padding: 0.5rem;
    box-sizing: border-box;
    transform: scale(0);
    transition-property: left, transform;
    transition-duration: var(--transitionDuration);
  }

  li.reveal {
    left: 0;
    transform: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border-style: solid;
  font-size: 30px;

  &:hover {
    opacity: 0.7;
  }

  &.fa-linkedin {
    background: #007bb5;
    color: white;
  }

  &.fa-github {
    background: var(--textColour);
    color: var(--bgColour);
  }
}

.link {
  text-decoration-line: none;
  font-family: 'FontAwesome';
  font-style: normal;
  color: var(--textColour);
}

.link:hover {
  opacity: 0.7;
}

.dark-mode-toggle {
  appearance: none;
  -webkit-appearance: none;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: var(--textColour);
  width: 50px;
  height: 25px;
  margin: 0 10px 0 0;
  transition-property: all;
  transition-duration: var(--transitionDuration);
}

.dark-mode-toggle::before {
  content: "☀️";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  translate: -3px;
  transition-property: all;
  transition-duration: var(--transitionDuration);
}

.dark-mode-toggle::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--textColour);
  border-radius: 50%;
  translate: 4px;
  transition-property: all;
  transition-duration: var(--transitionDuration);
  transition-duration: 1s;
}

.dark-mode-toggle:checked::before {
  content: "🌛";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  translate: 23px;
}

.dark-mode-toggle:checked::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--textColour);
  border-radius: 50%;
  translate: -19px;
}
