:root {
  --bgColour: 255, 255, 255;
  --maxWidth: 700px;
  --minWidth: 350px;
  --shadowColour: 0, 0, 0;
  --textColour: 0, 0, 0;
  --borderColour: var(--shadowColour);
}

.darkmode {
  --bgColour: 0, 0, 0;
  --maxWidth: 700px;
  --minWidth: 350px;
  --shadowColour: 128, 128, 128;
  --textColour: 220, 220, 220;
  --borderColour: var(--shadowColour);
}

body {
  background-color: rgb(var(--bgColour));
  font-family: 'Palatino', serif;
  color: rgb(var(--textColour));
  line-height: 1.2;
  overscroll-behavior-y: none;
  margin: 0px 8px 8px 8px;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  z-index: 10;
}

h3 {
  font-size: large;
  font-weight: bold;
}

h4 {
  font-size: medium;
  font-style: italic;
}

p {
  font-size: medium;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sticky {
  position: sticky;
  top: 80px;
}

section {
  max-width: var(--maxWidth);
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
}

.column {
  width: min-content;
  max-width: var(--maxWidth);
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 550px) {
  #about {
    grid-template-columns: 1fr 2fr;
  }
}

.page_title {
  font-variant: small-caps;
  user-select: none;
  min-width: max-content;
  padding-left: 15px;
}

.navbar {
  min-width: var(--minWidth);
  width: 100%;
  height: 80px;
  border-bottom: 2px;
  border-color: rgb(var(--borderColour));
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
  z-index: 20;
  max-width: var(--maxWidth);
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(var(--bgColour), 0.8);
}

.thumbnail-hide {
  width: 0;
  transition-property: all;
  transition-duration: 500ms;
}

.thumbnail-show {
  width: 46px;
  margin-right: 15px;
}

.section-heading {
  border-bottom: 1px;
  border-bottom-style: solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 15px;
  margin: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(var(--bgColour), 0.65);
}

.section-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border-style: solid;
  font-size: 30px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: rgb(var(--textColour));
  color: rgb(var(--bgColour));
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration-line: none;
  font-family: 'FontAwesome';
  font-style: normal;
  color: rgb(var(--textColour));
}

.link:hover {
  opacity: 0.7;
}

.bullet-list {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  li {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1rem;
  }
}

.card-grid {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

@media (min-width: 650px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border-color: rgb(var(--borderColour));
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  height: min-content;
  box-shadow: 2px 2px 2px rgb(var(--shadowColour));
  background-color: rgb(var(--bgColour));
  transition-property: all;
  transition-duration: 750ms;
  color: rgb(var(--textColour));

  p {
    display: none;
  }

  ul {
    display: none;
  }

  button {
    svg {
      path {
        stroke: rgb(var(--textColour));
      }
    }
  }
}

.card--expand {
  .accordion-button {
    transform: scale(1, 1);
  }

  p {
    display: initial;
  }

  ul {
    display: initial;
  }
}

.accordion-button {
  display: grid;
  justify-items: center;
  padding: auto;
  transform: scale(1, -1);
  transition-property: all;
  transition-duration: 500ms;
  margin-top: 5px;

  svg {
    path {
      transition-property: all;
      transition-duration: 500ms;
      stroke: rgb(var(--textColour));
    }
  }
}

.card:active {
  box-shadow: 0.8px 0.8px 0.8px rgb(var(--shadowColour));
}

.ikea-theme {
  --bgColour: 255, 216, 0;
  --shadowColour: 0, 88, 163;
  --textColour: 0, 0, 0;
}

.nordnet-theme {
  --bgColour: 0, 0, 0;
  --shadowColour: 128, 128, 128;
  --textColour: 255, 255, 255;
}

.evry-theme {
  --bgColour: 24, 57, 84;
  --shadowColour: 128, 128, 128;
  --textColour: 255, 255, 255;
}

.chs-theme {
  --bgColour: 132, 54, 144;
  --textColour: 255, 255, 255;
  --shadowColour: 128, 128, 128;
}

.dark-mode-button {
  background-color: rgb(var(--textColour));
  color: rgb(var(--bgColour));
  font: inherit;
  border: none;
  box-shadow: 2px 2px 2px rgb(var(--shadowColour));
  padding: 4px 8px;
  font-family: monospace;
  cursor: pointer;
}

.dark-mode-button:active {
  box-shadow: 0.8px 0.8px 0.8px rgb(var(--shadowColour));
}

.sun {
  fill: rgb(var(--textColour));
  z-index: 30;
}

.disc {
  fill: rgb(var(--bgColour));
  z-index: 30;
}

.disc--hidden {
  display: none;
  fill: none;
}
